
@{
    ViewBag.Title = "Vozaci";
}
<h2>List Vozaci</h2>
<ul>
    <li>
        <div onclick="window.location.href= '@Url.Action("Vozac","Vozaci", new { id = 1 })'" class="btn btn-default">Vozac 1</div>
    </li>
    <li>
        <div onclick="window.location.href= '@Url.Action("Vozac","Vozaci", new { id = 2 })'" class="btn btn-default">Vozac 2</div>
    </li>
    <li>
        <div onclick="window.location.href= '@Url.Action("Vozac","Vozaci", new { id = 3 })'" class="btn btn-default">Vozac 3</div>
    </li>
    <li>
        <div onclick="window.location.href= '@Url.Action("Vozac","Vozaci", new { id = 4 })'" class="btn btn-default">Vozac 4</div>
    </li>
</ul>

